[2013-12-07 14:29] joshka opened #1 "Needs moar code"
http://adamralph.com/2013/05/18/oss-it-already/ ;)

[2013-12-07 14:55] adamralph commented on #1
Lol. Good point. However if you take a look at my fork on the 'initial'
branch you can see that I did OSS it already ;-). I realise that's a little
hidden away but what was intended as an initial spike is actually growing
into the real product. I'm battling with Heathrow right now but I'll get
things merged into the main repo as soon as I have a chance.
On 7 Dec 2013 14:29, "Joshua McKinney" notif

[2013-12-07 15:19] joshka commented on #1
No worries. Just stirring. Meant no offence. Safe travels.
On 8 Dec 2013 01:55, "Adam Ralph" notifications@github.com wrote:

[2013-12-07 15:22] adamralph commented on #1
None taken :-)
On 7 Dec 2013 15:19, "Joshua McKinney" notifications@github.com wrote:

[2013-12-08 10:27] adamralph commented on #1
closed by #3 :smile:

[2013-12-08 10:27] #1 closed, assigned to adamralph

[2013-12-08 10:27] adamralph opened #4 "CI build"
- [x] build script
- [ ] get scriptcs installed on codebetter
- [ ] create build config on codebetter

[2013-12-08 10:28] adamralph opened #5 "Chocolatey deployment"

[2013-12-08 10:28] adamralph opened #6 "NuGet deployment"

[2013-12-08 10:33] adamralph opened #7 "Docs for inital features!"

[2013-12-08 10:34] adamralph opened #8 "Acceptance tests for initial features"

[2013-12-08 10:34] adamralph opened #9 "Unit tests for initial types"

[2013-12-21 19:45] adamralph opened #10 "Optional string interpolation"
[code]

As discussed with @jeremydmiller (with my choice of Nemerle/Powershell style syntax).

[2014-02-02 09:52] adamralph opened #11 "Default task"
Implement as a script pack

[2014-03-30 14:59] adamralph opened #13 "Create a global Bau.Cli script pack"
Depends on https://github.com/scriptcs/scriptcs/issues/607

[2014-04-02 05:42] adamralph opened #14 "Build all files created by file targets whether out of date or not"
Rake 10.3 has this with a new '--build-all', '-B' switch.

[2014-04-13 17:07] adamralph commented on #5
bau will eventually have a global CLI script pack, which can be installed using scriptcs

[2014-04-13 17:07] #5 closed, assigned to nobody

[2014-04-13 17:09] adamralph opened #15 "Package a sample .bat file which wraps execution of baufile.csx"
Should be as easy as copying bau.bat from the repo root into a `tools` subfolder of the `Bau` project and marking it as 'Copy Always`. The NuGet pack command should just pick it up.

[2014-04-13 17:09] adamralph commented on #6
depends on https://github.com/bau-build/bau/issues/11

[2014-04-13 17:11] adamralph commented on #7
depends on https://github.com/bau-build/bau/issues/11

[2014-04-13 17:11] adamralph commented on #8
depends on https://github.com/bau-build/bau/issues/11

[2014-04-13 17:12] adamralph commented on #9
Will be added when appropriate as work progress on https://github.com/bau-build/bau/issues/11

[2014-04-13 17:12] #9 closed, assigned to nobody

[2014-04-27 15:38] adamralph commented on #8
closing as part of project reset

[2014-04-27 15:38] #8 closed, assigned to nobody

[2014-04-27 15:39] adamralph commented on #7
closing as part of project reset

[2014-04-27 15:39] #7 closed, assigned to nobody

[2014-04-27 15:40] adamralph commented on #6
closing as part of project reset

[2014-04-27 15:40] #6 closed, assigned to nobody

[2014-04-27 21:48] adamralph opened #16 "Nuget package"
depends on #11

[2014-04-27 22:11] #16 closed, assigned to adamralph

[2014-04-29 19:00] #4 closed, assigned to adamralph

[2014-04-29 19:01] adamralph commented on #4
http://teamcity.codebetter.com/viewLog.html?buildId=117420&tab=buildResultsDiv&buildTypeId=bt1253 :ok_hand:

[2014-04-29 19:03] adamralph opened #23 "Task dependencies"
### scenarios
##### happy path
- [x] single dependency
- [x] multiple dependencies
- [x] nested dependencies
- [x] repeated dependency
- [x] circular dependency
##### sad path
- [x] non existent dependency
- [x] dependency fails
##### other
- [x] reformat test baufiles to match dogfooding baufile

[2014-04-30 16:46] adamralph opened #27 "Exec plugin"
- [x] implement
- [x] package
- [ ] log at debug level

[2014-05-01 16:15] cthulhusec opened #30 "Write Documentation"
- [x] CONTRIBUTING.md
- [x] How to Build
- [x] Quickstart
- [x] Samples

---
### Update (@adamralph)

In addition to these items, the [wiki](https://github.com/bau-build/bau/wiki) has a few more pages now and the [readme](https://github.com/bau-build/bau) has been updated.
- https://github.com/bau-build/bau/blob/dev/CONTRIBUTING.md
- https://github.com/bau-build/bau/blob/dev/how_to_build.md
- http

[2014-05-01 20:29] adamralph commented on #30
:thumbsup:

[2014-05-01 22:08] adamralph opened #31 "Explicit task invocation"
[code]

This is to allow things like:

[code]

The implementation _should_ already be complete as a side effect of other work. This _should_ only require the addition of an acceptance test.

[2014-05-02 01:03] adamralph opened #34 "Bootstrap plugins from the core bau script pack"
To reduce the boilerplate required for a plugin. See https://github.com/bau-build/bau/wiki/Writing-a-custom-task-plugin.

E.g. import the namespace of any `Task` derived class.

Won't be needed if something like https://github.com/scriptcs/scriptcs/issues/646 is implemented in scriptcs.

[2014-05-02 01:05] adamralph opened #35 "Bau.MSBuild: wrap command line"
- [x] set version and architecture and determine path
- [x] set working directory
- [x] non-logger switches
- [x] dogfooding
- [x] logger switches

[2014-05-02 01:06] adamralph opened #36 "xunit.net plugin"

[2014-05-02 01:12] adamralph opened #37 "NuGet plugin"

[2014-05-03 12:02] adamralph commented on #30
@buddytex all done!

Thanks for raising this issue and prompting me into doing it :blush:

[2014-05-03 12:02] #30 closed, assigned to adamralph

[2014-05-03 12:04] adamralph opened #48 "Remove installation step from bau.bat"
Awaiting https://github.com/scriptcs/scriptcs/issues/297
- [ ] Remove step
- [ ] Add note to how_to_build.md showing optional standard scriptcs command

[2014-05-03 12:07] adamralph commented on #30
@buddytex do you have a twitter handle? I'd like to give you some public credit! :wink:

[2014-05-03 16:42] cthulhusec commented on #30
Yes I do, @Buddytex :smile:

[2014-05-03 17:17] adamralph opened #49 "Remove requirement for plugins to provide extension method"
[code]

[2014-05-03 20:49] #49 closed, assigned to adamralph

[2014-05-03 23:42] adamralph opened #52 "Fluent API for Exec plugin"

[2014-05-03 23:45] adamralph opened #53 "Hide inappropriate members from intellisense"

[2014-05-04 00:00] adamralph opened #54 "Explicit task execution"
[code]

[2014-05-04 00:01] adamralph opened #55 "Reenabling tasks"
See http://stackoverflow.com/a/1290119/49241

[2014-05-04 00:09] adamralph opened #56 "Return BauPack from Execute() method"
To allow a single statement build script with assignment of a `bau` variable for use inside the script, e.g.:

[code]

[2014-05-04 00:34] adamralph opened #57 "Run specific tasks from the command line"
E.g. `scriptcs baufile.csx -- build pack` to run the `"build"` and `"pack"` tasks only.

[2014-05-04 00:47] adamralph opened #58 "Pass argument to tasks"
E.g. `scriptcs baufile.csx -- name[Adam,Ralph]`

[code]

Later, when scriptcs supports `dynamic`, this can change to

[code]

Depends on ~~#57~~.

[2014-05-04 01:15] adamralph opened #60 "Define a task to execute against an enumerable"
Instead of:

[code]

something like:

[code]

However, this may clash with #58. It may be a case of having a context object instead, with `Args` and `Item`. E.g.
`scriptcs baufile.csx -- pack[1.0.0]`

[code]

[2014-05-04 19:46] adamralph opened #61 "Change BauPack to Bau"

[2014-05-04 20:31] adamralph opened #62 "Remove the need to call Execute() in baufile"
Depends on https://github.com/scriptcs/scriptcs/issues/643

Log a deprecation warning if a script calls it.

[2014-05-04 20:43] #61 closed, assigned to adamralph

[2014-05-04 21:07] adamralph opened #65 "Task descriptions and command line switch to display"
[code]

`scriptcs baufile.csx -- -D`

[code]

[2014-05-04 21:07] adamralph opened #66 "Task() overloads"
[code]

and all variants between.

How does this fit in with the current optional name parameter? Am I going to regret that decision already?

~~Depends on #65 (in beta) if description is going to be part of this feature.~~

[2014-05-04 21:08] adamralph opened #67 "Exec() overloads"
Depends on #66

[2014-05-05 06:27] adamralph opened #68 "nodejs plugin"
For executing node. For js lib specific plugins, see edge, which should be getting .NET -> JS interop some time soon.

[2014-05-05 10:47] adamralph commented on #61
Alteration to the impl of #11

[2014-05-05 10:47] adamralph commented on #49
Alteration to imlp of #27

[2014-05-05 16:38] adamralph commented on #11
When tasks are created from within other tasks and have no name, a log message appears in the output like this:

The log message should either be suppressed if the task does not have a name or it could be

[2014-05-06 06:26] adamralph opened #73 "Avoid manual hacking of nuspec dependency versions"
Currently, because the version is passed to nuget.exe after extraction from CommonAssemblyInfo.cs, the plugins packages end up with a dependency on Bau 0.0.0 and this has to be manually hacked before release.

[2014-05-06 18:44] #73 closed, assigned to adamralph

[2014-05-06 20:16] adamralph commented on #10
Should be implemented as a scriptcs module independent of Bau.

[2014-05-06 20:16] #10 closed, assigned to nobody

[2014-05-06 20:19] adamralph commented on #34
Not required, see https://github.com/scriptcs/scriptcs/issues/646#issuecomment-42139609

[2014-05-06 20:19] #34 closed, assigned to nobody

[2014-05-06 20:24] adamralph commented on #56
Subset of both #31 and #54.

[2014-05-06 20:24] #56 closed, assigned to nobody

[2014-05-07 06:19] adamralph opened #78 "Reuse assemblies in acceptance tests"
Instead of creating a folder for each scenario and copying the DLL's, copy them once and create a baufile named after each scenario.

[2014-05-07 07:49] adamralph commented on #57
If `scriptcs` is executed without any arguments, `ScriptArgs` is null so the `Bau` constructor throws an exception.

[2014-05-07 15:15] adamralph opened #80 "Add rakefile for comparison"

[2014-05-07 15:15] adamralph opened #81 "Add gruntfile for comparison"

[2014-05-07 15:16] adamralph opened #82 "Add gulpfile for comparison"

[2014-05-07 15:23] adamralph opened #83 "Add fakefile for comparison"

[2014-05-07 21:54] adamralph opened #85 "Fix acceptance test step names"
Some of them are wrong, e.g.

This is best done by reading the HTML test results file. E.g. http://teamcity.codebetter.com/repository/download/bt1253/118272:id/TestResults/src/test/Bau.Test.Acceptance/bin/Release/Bau.Test.Acceptance.dllTestResults.html (grab the latest from http://teamcity.codebetter.com/viewType.html?buildTypeId=bt1253&branch_project204=%3Cdefault%3E&tab=buildTypeStatusDiv).

[2014-05-07 21:58] #78 closed, assigned to adamralph

[2014-05-08 16:27] adamralph commented on #35
http://blogs.msdn.com/b/visualstudio/archive/2013/07/24/msbuild-is-now-part-of-visual-studio.aspx

[2014-05-08 23:05] adamralph opened #91 "mono build"

[2014-05-09 12:08] adamralph commented on #31
taken by @pgermishuys

BTW - the acceptance test itself doesn't need a conditional, that was more just an example of why it might be used.

I guess the script generated in the acceptance test should have 3 tasks A, B and C. C Can invoke B and B can depend on A. The test then asserts that C was executed, then A, then B. Make sense?

[2014-05-09 15:24] adamralph commented on #81
:lipstick: add some blank lines between the task definitions to better match the other examples, e.g. https://github.com/NzbDrone/NzbDrone/blob/develop/Gruntfile.js

[2014-05-09 15:28] adamralph commented on #80
Needs comments altered as per https://github.com/bau-build/bau/pull/92

[2014-05-09 15:30] adamralph opened #93 "Add simplified baufile.csx for comparison"
Done in https://github.com/bau-build/bau/pull/86 but needs comments altered in light of https://github.com/bau-build/bau/pull/92

[2014-05-09 19:15] #81 closed, assigned to adamralph

[2014-05-09 19:15] #93 closed, assigned to adamralph

[2014-05-10 12:52] adamralph commented on #82
Unfortunately this needs revisiting. It doesn't work in a fresh clone:

![image](https://cloud.githubusercontent.com/assets/677704/2935002/639648c0-d7ea-11e3-9da6-3589d972cc4f.png)

The console output reveals that it's still running the tasks in parallel. The last 'Build complete!' message is MSBuild.exe completing which was invoked in the 'build' task which was invoked before the 'test' task. The

[2014-05-10 13:00] #80 closed, assigned to adamralph

[2014-05-10 13:00] #82 closed, assigned to nobody

[2014-05-10 13:01] adamralph opened #98 "Build script improvements"
- [x] enable all CPUs for msbuild (with nodereuse false)
- [x] log msbuild at detailed verbosity to a file in /artifacts/logs (verbosity overridable by ENV var)
- [x] turn down msbuild verbosity to minimum
- [x] turn down nuget verbosity to quiet (overridable by ENV var)
- [x] change test result output to /artifacts/tests

[2014-05-10 13:08] adamralph opened #99 "Move samples to a new bau-samples repo"

[2014-05-10 13:08] adamralph opened #100 "Move comparison to a new bau-comparison repo"

[2014-05-10 13:48] adamralph opened #101 "Log levels"
This feature should also provide logging methods for task plugins. When a plugin logs, the prefix should be something like `[Bau][TypenameWithoutNamespace]`. When logging at <= debug level, it could include the namespace.

[2014-05-10 14:05] adamralph opened #102 "Logging to a file with an independent log level"

[2014-05-10 14:19] adamralph opened #103 "Helper for defaulting a null or whitespace string"
Part of Bau or not?

[2014-05-10 14:20] adamralph opened #104 "Log a message when a task is finished with a timing"
See gulp

[2014-05-10 15:19] #98 closed, assigned to adamralph

[2014-05-10 15:35] adamralph commented on #27
depends on https://github.com/bau-build/bau/issues/101

[2014-05-13 10:52] twiernik commented on #55
Can I take it?

[2014-05-13 14:48] adamralph commented on #55
Sure, go ahead!

Btw - I took a look at your initial commit. The implementation looks spot on but you're working off a very old version of the `dev` branch. You may want to rebase sooner rather than later.

The only other thing that's required is an acceptance test.

[2014-05-14 07:18] adamralph opened #112 "Rebrand acceptance tests as integration tests"

[2014-05-14 07:20] adamralph opened #113 "Introduce component tests"
These will be at the API level. I.e. Referencing Bau, defining tasks and executing them directly. Initially this will be a port of the acceptance tests.

[2014-05-15 06:35] adamralph opened #115 "Reenabling tasks and their dependencies"
E.g. A depends on B, B depends on C and D. I call a method which resets A and traverses down the dependency graph to reset all the other tasks.

[code]

Need to think of a decent method name. `bau.ReenablePlusDependencies` or `ReenableWithDependencies` is rather verbose.

Also need to consider whether this is really practical or whether it may lead to problems or confusion for the end user. Perhap

[2014-05-15 06:41] adamralph opened #116 "Reenabling tasks and their dependents"
E.g. A and B depend on C, C depends on D. I reset D and that walks _up_ the dependency graph and resets all the other tasks.

[code]

As with #115, we need a decent method name and some thought about whether this is practical and useful.

[2014-05-16 06:08] adamralph commented on #112
After re-reading the appropriate section of Continuous Delivery, I think the current naming is correct.

[2014-05-16 06:08] #112 closed, assigned to adamralph

[2014-05-16 14:35] adamralph opened #118 "Inline Tasks"

[2014-05-16 17:09] adamralph opened #119 "Align acceptance tests with component tests"

[2014-05-16 18:31] #113 closed, assigned to adamralph

[2014-05-16 21:58] adamralph commented on #104
Needs better formatting, see http://teamcity.codebetter.com/repository/download/bt1253/119011:id/tests/Bau.Test.Component.TestResults.html

Probably needs to use varying units similar to gulp. E.g.
- 10m 10s
- 10s
- 10ms
- 10µs

[2014-05-16 21:58] #119 closed, assigned to adamralph

[2014-05-17 13:50] adamralph opened #124 "Streaming"
From https://jabbr.net/#/rooms/scriptcs in response to @nblumhardt

[2014-05-17 19:02] adamralph commented on #31
@pgermishuys apologies, the original syntax I wrote was nonsense. This would never work because the `bau` variable is effectively not declared before the expression is trying to use it

[code]

I found this out today whilst trying to implement https://github.com/bau-build/bau/issues/54. The problem is that there is a bug in the Roslyn CTP which meant that a cryptic stack overflow execption was bei

[2014-05-22 18:29] adamralph opened #136 "Bau.MSBuild: Specify a custom path to msbuild.exe"
[code]

[2014-05-22 18:30] adamralph opened #137 "Bau.MSBuild: Static defaults"

[2014-05-22 18:32] adamralph opened #138 "Bau.MSBuild: Best fit exe finding"

[2014-05-22 18:32] adamralph opened #139 "Bau.MSBuild: find solution/project automatically in subfolders"

[2014-05-22 18:33] adamralph opened #140 "Bau.MSBuild: default to max CPU and node reuse false"
for msbuild versions that understand it

[2014-05-22 18:33] adamralph opened #141 "Bau.MSBuild: support xbuild"

[2014-05-22 18:37] adamralph opened #142 "Extension method for process execution"

[2014-05-24 05:48] adamralph commented on #35
Need to suppress rendering of `FileLoggerParameters` `.Encoding` and `.LogFile` when `null`.

[2014-05-30 22:36] #91 closed, assigned to adamralph

[2014-05-30 22:51] adamralph opened #151 "Run acceptance tests on *nix"

[2014-06-01 11:47] adamralph commented on #35
moved to https://github.com/bau-build/bau-msbuild/issues/10

[2014-06-01 11:47] #35 closed, assigned to nobody

[2014-06-01 12:30] adamralph opened #158 "Log level command line switch"
Default should be INFO
- [x] switch
- [x] aliases
- [x] help

[2014-06-01 20:18] adamralph commented on #36
Needs to use `mono` as the command in Mono.

[2014-06-01 22:09] nblumhardt commented on #124
Maybe not necessarily - the goal is often to call CSC.EXE (or lang-x equivalent); the patchy support for MSBuild on non-Windows platforms leaves an opportunity here IMHO :)

[2014-06-01 22:36] adamralph commented on #124
I agree, but it seems like a huge thing to take on. Almost all current .NET dev is done in Visual Studio (99%), Xamarin Studio or Monodevelop which ultimately all dump a load of .sln and .csproj onto the filesystem. That would need replacing. I've already day dreamed about writing a VS add-in which swaps out the use of .sln and .csproj files for bau .csx files but a day dream is all it is right no

[2014-06-02 03:12] adamralph opened #166 "Command line switch to display tasks"

[2014-06-12 18:48] adamralph opened #170 "Command line help"
- [x] initial impl (`-?|-h|-help`)
- [ ] `-H`

[2014-06-12 19:36] adamralph opened #172 "Directory tasks"

[2014-06-12 19:37] adamralph opened #173 "Clean/Delete tasks"

[2014-10-29 20:59] adamralph opened #180 "Log messages showing top level tasks"
Both at the beginning and the end with a timing.

[2014-11-01 13:53] keichinger opened #183 "Prerequisites / cross platform compatibility"
Hey,

when trying to install bau (or rather scriptcs) on an Linux or OSX machine you'll most likely run into some compatibility issues because some system packages are simply missing.

Let's say I'm executing bau.sh on my OSX 10.10 machine it'll error out because:
- `wget` is not pre-installed on OSX
- `unzip` is not pre-installed on OSX

While it's rather safe to assume that `wget` is installed o

[2014-11-01 18:55] adamralph commented on #183
Interesting information, thanks! I thought I tested bau.sh on my girlfriend's Mac but perhaps not :wink:.

Ultimately all that stuff in bau.sh is just a workaround for not having an easy install story for scriptcs on OSX and Linux, but that is changing with SVM - https://github.com/paulbouwer/scriptcs-svm. I think in the meantime some documentation will be enough. The .travis.yml file can still do

[2014-11-14 02:42] aarondandy commented on #37
I'm going take a shot at this, will let you know if I give up. Regarding design I was going to try to mirror Bau.MSBuild and use the "NuGet package" from NuGet for the implementation. I recently got rid of my ./.nuget/nuget.exe and want to keep it that way! Find me in JabbR if you already have thoughts on this plugin already (I'm sure you do).

[2014-11-14 18:14] adamralph commented on #37
Great! Yes I think taking Bau.MSBuild as a starting point is a good idea.
Are you intending to use Nuget.Core? I guess that would work and could be a
bit neater than wrapping around Nuget.exe. I'm on the road until Monday but
I'll catch up with you on JabbR when I get back.
On 14 Nov 2014 03:43, "Aaron Dandy" notifications@github.com wrote:

[2014-11-14 18:22] aarondandy commented on #37
I dropped a note about it in Jabbr. I really want to use Nuget.Core but I don't think it can perform a restore operation. Because of that I am taking the command line as a non-dev dependency. For now I was just planning on searching the packages to find nuget.exe and then call into it. Perhaps later what could be done is to use reflection to load nuget.exe and call into the restore method. It's no

[2014-11-14 18:23] aarondandy commented on #37
See also: https://github.com/aarondandy/bau-nuget

[2014-11-16 01:07] aarondandy commented on #37
I finished the approach where I dynamically load the NuGet.exe assembly. Tests worked great, everything was fine, then I ran it through scriptcs. Turns out my powershell loads stuff as x64 while ncrunch is doing x86. So after I got it all "working" I later discovered it won't work at all... Now I am back to loading the CommandLine tool into ./packages and then just executing it for restore. What a

[2014-11-17 05:32] aarondandy commented on #37
Using the command line approach I completed implementations for restore, pack, and push. It does not require `NuGet.exe` to be on the path or in `./.nuget` but instead relies on `scriptcs -install` to bring the `NuGet.CommandLine` package down as is the case with Bau itself. The Bau.NuGet package has a dependency on the CLI tool by removing the `developmentDependency="true"` from the plugin's pack

[2014-11-17 19:47] adamralph commented on #37
@aarondandy thanks for taking this on! Ultimately I'd like the NuGet plug-in to be one of the 'core' plugins, living in the Bau organisation. I've created https://github.com/bau-build/bau-nuget and invited you to join the org with commit rights for that repo so you can push up your initial implementation whenever you feel ready.

[2014-11-17 21:02] aarondandy commented on #37
That was my intent. I'll push the commits there when I get home.

[2014-11-26 19:12] adamralph opened #184 "Fix MSBuild verbosity in build script"
[code]

is the wrong way round (in 2 places). Should be

[code]

[2014-11-30 17:42] aarondandy commented on #37
The NuGet plugin has been published: [https://github.com/bau-build/bau-nuget](https://github.com/bau-build/bau-nuget)

I recommend that this issue be closed.

[2014-11-30 17:44] adamralph commented on #37
Moved to https://github.com/bau-build/bau-nuget

[2014-11-30 17:44] #37 closed, assigned to nobody

[2014-12-01 10:09] adamralph opened #185 "Base type for external command tasks"
Providing

[code]

as discussed in https://github.com/bau-build/bau-nuget/issues/31

[2014-12-01 10:19] adamralph opened #186 "Directory task"
[code]

(Of course, individual plugins can also build in the ability to create folders on the fly if it makes sense in those contexts.)

[2014-12-01 10:21] adamralph opened #187 "Filesystem helper methods"
E.g. `CreateDirectory()` and `DeleteDirectory()` methods which actually block until the operation has happened.

Removes the need for things like https://github.com/bau-build/bau/blob/7b0e3a080f324d6a40b710f161fca76c7ea02d18/baufile.csx#L133-L148

[2014-12-01 14:01] aarondandy commented on #187
:+1:
Also possible to check for `Directory.Exists` in a loop and have a configurable `maxWaitMs` parameter.

[2014-12-01 14:34] aarondandy commented on #186
Here is an example of one of my create directory tasks for some ideas on usage.

[code]

would be much better as

`.Directory("create-artifact-folders").Do(d => d.Create(artifactDir, nugetOutputDir, logsDir));`

[2014-12-01 14:49] adamralph commented on #186
I envisage the `.Directory()` task as just taking a single path which would also serve as the task name, but there could also be a `.Directories("foo").Do(() => directories.Paths(artifactDir, nugetOutputDir, logsDir))`

[2014-12-05 15:35] aarondandy opened #189 "Search for tools in NuGet package folders."
The BauNuGet plugin currently needs the ability to locate the nuget.exe executable within the packages folder. Recently while working with FluentMigrator I also needed to locate another executable within a package folder. This is beginning to become a thing, maybe later it could extend to stylecop or other popular tools.

Some possible signatures:

`SomethingSomething.FindInPackage(packageName: "F

[2014-12-18 16:55] aarondandy commented on #186
Only partially related to the issue:

I have started defining DirectoryInfo and FileInfo instances at the top of my baufile instead of using strings. It's not for everybody but as time goes on I find myself using it more. For example instead of needing to use the snippet I pasted above I am now doing this: `OutDir = artifactDir.CreateSubdirectory("publishTemp").FullName` as CreateSubdirectory does

[2014-12-20 00:37] aarondandy commented on #172
Would this include things such as copying entire directories or would that be something else? Would you prefer to have a C# based directory copy task or would that be best left to a call to a copy command through the Exec task?

[2014-12-20 00:47] aarondandy commented on #172
Duplicate of #186 ?

[2014-12-20 09:32] adamralph commented on #172
Well spotted ;-).

I imagine other stuff like copying directories would be covered by #187. The most common operations, (e.g. creating a directory) are candidates for being wrapped in tasks.

[2014-12-20 09:32] #172 closed, assigned to nobody

[2014-12-20 09:33] adamralph commented on #186
Can use the outcome of #187

[2014-12-24 21:28] aarondandy opened #190 "BauExec: How to run programs from the path?"
The Exec task has `ShellExecute = false` for reasons which are understood but because of this I am unable to execute programs that are located on the system path. Is there or should there be a way to specify that the command should be located on the system/user PATH? Currently if I need to run a program located on the PATH I am doing this:

[code]

Major edit: I meant `false`, not `true`!

[2015-01-09 17:47] aarondandy commented on #190
May need to create something to parse `Environment.GetEnvironmentVariable ("PATH")` for multiple platforms.

[2015-01-09 18:19] aarondandy commented on #190
xbuild looks like it creates a temporary script file containing for example "bower install" and then it calls that script using an absolute path.

[2015-02-21 14:17] adamralph commented on #101
Currently in beta, but `bau.CurrentTask` seems to return the top level task instead of the current task.

[2015-02-24 22:35] aarondandy commented on #190
I would propose the addition of a boolean property, like `public bool SearchPath { get; set; }` that will trigger logic that will search the PATH environment variable for the full location of the desired executable.

[2015-03-04 23:05] adamralph commented on #36
Casing saga is in full flow http://adamralph.com/2015/03/04/nuget-gallery-casing-woes/

[2015-03-05 18:40] adamralph commented on #36
See https://github.com/NuGet/NuGetGallery/issues/2379

[2015-03-05 22:40] aarondandy commented on #36
For now I am working around this by:
1. Remove `Bau.Xunit` (or `Bau.XUnit`) from `scriptcs_packages.config`
2. Kill the `scriptcs_packages` folder if it is messed up
3. Edit your build script (`.csx`) file to use `.Exec("xunit")` instead of `Xunit` and use the `Run` option for the path to the xunit runner and `With` for all the assembly paths to test.

Alternatively, just take tests out :disappoin

[2015-03-05 22:42] adamralph commented on #36
@aarondandy see this comment https://github.com/scriptcs/scriptcs/issues/952#issuecomment-77467713

I've uploaded a Bau.Xunit.Temp package which you can switch to for now.

[2015-03-05 22:43] adamralph commented on #36
BTW - please help spread the word :wink:

[2015-03-05 22:44] aarondandy commented on #36
Haha, the reason I made that comment was for @robertd

[2015-03-05 22:44] robertd commented on #36
lol

[2015-03-05 22:48] robertd commented on #36
Is there a Nuget issue for this bug? Since `NuGet.CommandLine` is failing too... :smile:

edit: nvm ... I saw @adamralph's comment above

[2015-03-05 22:49] aarondandy commented on #36
I think that is a scriptcs issue, if it fails on Xunit it seems to fail on any others that would come after it.

[2015-03-05 22:52] adamralph commented on #36
@robertd yes, it's purely a NuGet gallery issue. It's not a problem in scriptcs or NuGet.CommandLine.

Here it is: https://github.com/NuGet/NuGetGallery/issues/2379

@aarondandy you're correct that scriptcs fails on subsequent packages, but it's really a moot point since if one package is missing your almost always going to be screwed anyway. The log messages are bit confusing from scriptcs and I'

[2015-03-19 21:27] adamralph commented on #36
@robertd you should be able to use Bau.Xunit again from version 0.1.0-beta08 onwards - https://www.nuget.org/packages/Bau.Xunit/0.1.0-beta08

For anyone who wants to retweet - https://twitter.com/baubuild/status/578667877206745088

[2015-03-26 23:43] aarondandy opened #193 "Branding/Identity for IDEs"
The Scrawl IDE can provide specialized colors and icons for files named baufile.csx. By default they will get the default ScriptCS icon with a purple tab accent due to that being the predominant color. Currently there is a Bau icon that is 128x128 with a while background. Scrawl requires sizes of 16x16, 32x32, and 64x64 with a transparent background. The icon file would also need to be in a color

[2015-03-26 23:52] aarondandy commented on #193
Example in favor of keeping the monochrome theme: https://github.com/NancyFx/Nancy.Portfolio/blob/master/guidelines/guidelines.md#color

[2015-03-27 21:42] adamralph commented on #193
At the moment we don't really have an asset which would be suitable for icon sizes. I can ask the designer to provide something but it won't be immediate. Initially, I'd definitely like to explore keeping the black and white branding before resorting to colour usage.

[2015-03-30 21:07] jasonmitchell opened #195 "Support xUnit 2.0.0 runners in Bau.Xunit"
It appears that the latest console runner for xUnit has changed the format of arguments to expect that they are prefixed with "-" rather than "/"; e.g. "-xml" instead of "/xml".  This results in the following error when running the xUnit task:

[code]

I have made some proof of concept changes in my fork of the repository and tested an updated version of Bau.Xunit against the latest console runner

[2015-04-01 16:37] adamralph commented on #195
@jasonmitchell great stuff! This actually struck me the other day whilst I was talking to someone about Bau :smile:

Backwards compatibility is definitely a concern. I don't think we can just change the package to be v2 only since a lot of people have not yet migrated to xunit 2. There are many reasons for this, e.g. integration packages like AutoFixture.Xunit still only support v1. There is also

[2015-04-01 17:56] aarondandy commented on #195
I also would like to see Option 2. Option 3 seems like it may add confusion unless the original package is renamed to include `1` in the name. If option 1 is used I think that a default of v2 would be best as Bau has not yet reached v1 and v1 will probably have a similar lifetime to xunit v2, but that is just my opinion.

[2015-04-01 18:59] adamralph commented on #195
There is also another option:
1. ...
2. ...
3. ...
4. A new task type, i.e. `bau.Xunit2(...)`

Another thing to consider - how well do the v2 command line options match with v1?

V1:

[code]

V2:

[code]

Things are very different, but it does seem that v2 is a superset of v1 with the exception of v1 `silent` which maps to v2 `quiet`.

One clear difference is that v2 can be passed a list of assemb

[2015-04-01 18:59] adamralph commented on #195
BTW - I still favour option 2 if it can be proven to work.

[2015-04-01 20:02] aarondandy commented on #195
It looks like with the exception of silent, v2 is a superset so that should work great. My only concern is that we would be pushing this versioning problem down the road to xUnit 3.

Maybe a safe approach is to have version be a configurable option, that when left blank would lead down the discovery path. `bau.Xunit(...).Version1()...` .

If in xUnit 3 silent is removed, we could detect that the r

[2015-04-02 13:57] jasonmitchell commented on #195
From my perspective (as someone new to Bau) I would prefer option 2 if it's feasible.  The less messing about configuring versions the better if you ask me.  I like the safety and flexibility provided by the optional configuration option with a fallback to auto-discovery @aarondandy mentioned above.

[2015-04-02 22:30] aarondandy commented on #193
I was thinking about this again and I wonder if having a specialized IDE icon would be a bad thing in a way. For me, the reason I like Bau is that it is simple. It is not a build tool like gulp or PVC. It does not require any special executables or environment dependencies (aside from a run-time). It really is just a .csx file with some script packs, just like any other script may. Because of that

[2015-04-03 06:43] adamralph commented on #195
It's a good point about the semantics of silent and quiet. Even though they have the same outcome in v1 and v2 we should respect the semantics.

So, I propose:
- throw when `quiet` is used with v1 or `silent` is used with v2
- throw when any other v2-only option is used with v1
- the exception type should be `NotSupportedException` and the message should say something like `"The '{0}' option is no

[2015-04-03 18:14] aarondandy commented on #195
@jasonmitchell @adamralph I think we are all mostly in agreement on this, at least enough for the issue to be worked.

[2015-04-15 19:19] eatdrinksleepcode opened #196 "Support for skipping up-to-date tasks"
I just found this project while searching for a [Gradle](http://gradle.org/)-like build system for .NET. I can see Bau being the foundation for such a system. However, a major feature of Gradle is strong support for skipping up-to-date tasks, in order to make the build as fast as possible. It does this by declaring the dependencies of each task (which are usually files, but can also be other thing

[2015-04-15 20:44] aarondandy commented on #166
This would allow tools like Scrawl for example to display a list of tasks that are available to be run from within the IDE.

[2015-04-15 20:46] stirno commented on #166
:+1:

[2015-04-16 06:03] adamralph commented on #196
Hi @eatdrinksleepcode, yes, file tasks and dependencies is something I had in mind from early on but I've not got round to doing it yet. I'm not familiar with Gradle but I guess the mechanism is similar to Rake? I.e. you declare a file task with the name of an output file and give it pre-requisites of the names  of input files and it only executes when the output file does not exist or is older th

[2015-04-16 06:10] adamralph commented on #166
Yeah, this really needs to get done. I need to make a general push on Bau features soon. It hasn't had enough love for a while :stuck_out_tongue:

[2015-04-16 15:08] eatdrinksleepcode commented on #196
Essentially yes, although Gradle also does file content hashing compared to previous runs in addition to timestamps. The key thing that Gradle (and Rake to a lesser degree, I think) has that most .NET build systems don't have - but Bau could - is that the inputs and outputs for a task are implicit as part of the task configuration, so you get the up-to-date checking for free. For example, for a fi

[2015-04-16 19:56] adamralph commented on #196
Yes, I agree, it would be a very natural fit for the Bau API and I definitely want to do this.

Initially I think we should release a simple version which supports only the timestamp comparison.

The file hashing is nice in that it is actually based on content, but I'm a bit wary about the additional complexity introduced by having to store state, i.e. hashes from last run.

[2015-04-16 22:33] eatdrinksleepcode commented on #196
Agreed, timestamps are a good first step; comparing contents to previous runs could come later, and there is certainly quite a bit of extra complexity to it (although while working with the MSBuild scripts in CoreFx, I have come across several scenarios where only having timestamp comparison was a limiting factor that required working around).

If you are amenable, I can start spiking a potential

[2015-04-17 06:14] adamralph commented on #196
That would be great! What syntax are you thinking of? My guess would be something like:

[code]

Where `file` is an instance of something like:

[code]

The above would be a syntactical port of the Rake file task.

`Prerequisites` is a little long. I was thinking of `Inputs` instead but then `Name` should really be `Output`. I like `Name`, however.

[2015-04-18 04:08] eatdrinksleepcode commented on #183
What is the status of this? I am trying to get started on a Mac and I'm not sure how or if I can do a build.

[2015-04-18 04:39] eatdrinksleepcode commented on #183
For reference I was able to complete a successful build by changing the current wget line in bau.sh to

[code]

Apparently I already had unzip installed.

[2015-04-18 06:41] eatdrinksleepcode commented on #196
I am studying Rake's implementation of these concepts, as I am much more familiar with Gradle, and I want to make sure I understand both before I make a recommendation for Bau. My thoughts so far:

Rake uses the "prerequisites" attribute both for prerequisite tasks and for input files. Gradle uses distinct properties for prerequisite tasks and file inputs (and other kinds of inputs). I prefer that

[2015-04-18 15:39] adamralph commented on #183
Now that scriptcs has a reasonable installation path on both Mac and OSX, I think we can just get rid of this scriptcs.exe bootstrapping altogether from bau.sh and change the build instructions to state that scriptcs should be installed as a pre-requisite.

scriptcs can be installed on Mac via homebrew or on both Mac or Linux via svm (https://github.com/scriptcs-contrib/svm/wiki/Installing-svm).

[2015-04-18 17:39] #183 closed, assigned to adamralph

[2015-04-18 17:42] adamralph commented on #183
@cH40z-Lord @eatdrinksleepcode please see the latest build instructions https://github.com/bau-build/bau/blob/dev/how_to_build.md

[2015-04-18 21:58] keichinger commented on #183
@adamralph looks good! Thanks for taking care of it.

[2015-04-20 17:12] adamralph commented on #196
I guess the distinction is probably better. In that case, if I had something like:

[code]

Then a call to run "bar" would first check whether the inputs pre-date the outputs, skipping "bar" if they do not, and "foo" would only run if "bar" needs to be run?

The idea of annotating (I presume you mean with attributes) properties on the task is interesting, with the only downside being the attribute

[2015-04-20 18:45] eatdrinksleepcode commented on #196
Yeah I think that reflects pretty well what I am thinking of.

Typically prerequisites run first, and then the task is checked to see if it is up to date. The reason for this is that prerequisites may intentionally change the inputs to the task (imagine the "run unit tests" task has a dependency on "compile unit test project"). If you need a prerequisite task to only run if the current task needs

[2015-04-21 06:09] adamralph commented on #196
Ah, of course, you are correct regarding the pre-requisites. I agree that control of pre-requisite running before/after up to date check is unnecessary complexity.

Yes, the idea of overrideable methods occurred to me too. I was thinking of something like this.

[code]

I'll continue to think about it. Right now neither is a clear winner to me.

However, in terms of terseness, this does seem to wi

[2015-04-21 18:41] aarondandy commented on #166
Do you have any thoughts on how this would work?

`scriptcs baufile.csx -- -list` vs `scriptcs baufile.csx -- task-name` ?

What if I make a task named `-list` (not that I should)?

What about default tasks baked into Bau that can be overridden in a baufile to hide private tasks?

[code]

Possibly related: https://github.com/scriptcs/scriptcs/issues/339

Makes me also wonder if a task should be ma

[2015-04-21 19:43] adamralph commented on #166
My thoughts were to follow the precedents set by Rake and, to some extent, gulp:

[code]

The idea of `-T` being that each task designed to be explicitly invokable should have some kind of description attached. Of course we would have to introduce the concept of task descriptions, e.g.

[code]

Bear in mind that the ultimate aim is for scriptcs to support command line packages, so there will event

[2015-04-21 19:54] aarondandy commented on #166
I like the description approach much better and it should be easy to implement. Want to include the `.Desc(description)` stuff in this issue as it is pretty much required? `-T` and `-A` are stupid simple but what does `-P` look like?

[2015-04-21 19:59] adamralph commented on #166
Descriptions are already covered in https://github.com/bau-build/bau/issues/65 so this issue is probably dependent on that. I guess both could be solved in one PR though.

`rake -P` gives something like this (for https://github.com/xbehave/xbehave.net):

[code]

[2015-04-21 20:08] aarondandy commented on #166
Currently Bau allows for whitespace in task names. The easy solution to this problem is to tell people "don't do that" but would it be better to wrap task names in quotes and do `\` escaping if they contain whitespace or to restrict tasknames with whitespace? Escaping can be included in this task but restricting would need to be another item. Can this be ignored for now until somebody complains ab

[2015-04-22 04:07] adamralph commented on #166
What is the problem with having whitespace in task names?

On 22:08, Tue, 21 Apr 2015 Aaron Dandy notifications@github.com wrote:

[2015-04-22 04:20] aarondandy commented on #166
I wonder if it could cause issues for others when parsing the output. As I think about it though I guess it would be more of an issue if there were a `#` in the task name than whitespace. Even then a parser should look for `\s#` and not just `#` on it's own. It should probably be ignored for now.

[2015-04-22 04:47] adamralph commented on #166
By parsing you mean automated parsing?

[2015-04-22 04:57] aarondandy commented on #166
Yes.

[2015-04-22 04:59] eatdrinksleepcode commented on #196
A slight tangent...

In Gradle, a task is allowed to specify inputs in multiple ways: a call to "inputs.files" could pass a raw string (representing a file path), a collection of strings, a File object, a collection of File objects, another Task (which would be interpreted as using the Task's outputs), etc. The API for handling these diverse possibilities is trivial: inputs are specified as Object

[2015-04-22 05:23] adamralph commented on #166
OK. So I think quote wrapping is probably the solution for that.

If we examine the current command line, Bau already supports the running of specific tasks like so:

[code]

In the case where a task has whitespace, the usual command line convention of quoting is used:

[code]

So I would expect the output to follow suit:

[code]

I don't think # should cause any problems. If the output is as abov

[2015-04-22 06:03] adamralph commented on #196
It is an interesting aspect to consider. It's also leaning more towards the gulp model, i.e. a task produces things for another task and the task runner itself carries the responsibility of transferring those things from one task to the other. In gulp those things just happen to be streams. This is something I was thinking about for Bau at one stage but I never got as far as projecting these thoug

[2015-04-22 17:24] stirno commented on #166
big :+1: to JSON output! Thats how we did it for pvc using a fairly ridiculous command line argument that i'm not happy with but life is much easier with JSON :)

[2015-04-22 18:14] aarondandy commented on #166
My office will be moving on Friday and I think I will be kicked out of work. I want to see this implemented so I intend to take a shot at it :construction_worker: this weekend if I don't get sucked into [Pillars of Eternity](http://eternity.obsidian.net/) :feelsgood:.

[2015-04-23 05:56] aarondandy commented on #65
I will be taking this on as part of #166

Added in https://github.com/aarondandy/bau/commit/3eb204add67fdbc766f2314bf05cb5afa326289b and acceptance tests will be written as part of the other issue as description is a core part of it.

[2015-04-24 17:24] eatdrinksleepcode commented on #196
I have definitely had the need to pass data between tasks. I have always worked around it by using the project properties of the build system (essentially global static data), or using temporary files. I am not familiar with gulp, but I can definitely see the appeal of the stream concept. Whether or not the two models can live together, I am not sure. I would tend not to go that far until there wa

[2015-04-24 17:36] aarondandy commented on #196
As I have been watching this thread and thinking about things like async and passing things between tasks I wonder if there should be a complete redesign of what a BauTask is, how they work, and how we can interact with them. That definitely goes outside the scope of this issue and would be a massive change but I think this should be looked at sooner rather than later. I would love to see the two

[2015-04-24 20:24] eatdrinksleepcode commented on #196
Regarding strongly-typed APIs, I think I would be inclined to use explicit overloads, even if we end up with a lot of them. The value of static typing for efficiently communicating to the developer is too big to throw away.

[2015-04-24 20:26] eatdrinksleepcode commented on #196
@aarondandy I am open to having the conversation, although I am not certain what the goal of such a conversation would be. FWIW the current definition of BauTask is pretty similar to both Gradle and Rake, which I think are reasonable places to take inspiration. There is plenty of room for improvement, but it sounds like you are looking for a more radical change. Do you want to open an issue to sta

[2015-04-24 21:44] eatdrinksleepcode opened #198 "Acceptance tests cannot be run with scriptcs 0.14.1"
What is the current state of the acceptance tests? I am unable to get them to run successfully.
1. The path to the output folder as defined in Bau.Test.Acceptance/Support/Baufile.cs line 33-39 does not exist. To workaround this I replaced the entire `#if DEBUG with`Path.GetDirectoryName(Assembly.GetExecutingAssembly().Location)`.
2. In the Run method in the same file, the FileName to run is set to

[2015-04-24 21:50] aarondandy commented on #198
I ran them last night. I just run "build accept" from the repository root. They all worked me using the command line, and take forever. Running the from ncrunch most of them fail, even after setting up certain folders.

[2015-04-24 21:52] aarondandy commented on #196
I may make some issues later or revive some I find.

[2015-04-24 23:28] aarondandy commented on #198
Also, I had to upgrade scriptcs, I am at the latest version: "cup scriptcs"

[2015-04-25 04:36] eatdrinksleepcode commented on #198
I am still unable to run them, nor do I see how they could run in their current state given the problems I noted in my issue description. Here's what I have:

Windows 7 64-bit
Dev branch (5c23bd63209df43b013615c61e7e24112ee1d92b)
ScriptCS 0.14.1 (latest version)
cmd (also tried Visual Studio 2013 Developer Command Prompt)
build accept

This results in the problems I described. Any idea why this do

[2015-04-25 05:04] aarondandy commented on #198
1. For me these folders map to `src\Bau\bin\Release` for release builds and a similar folder for Bau.Exec. Also the build based on baufile.csx appears to be hard coded to Release.
2. I'm not sure how but it appears that the tests are running for me through NCrunch using a leftover ScriptCs.0.13.2 I have instead of the ScriptCs.0.14.1 it should be using. **I'm going to look into that.**
3. I'm seei

[2015-04-25 05:21] aarondandy commented on #198
I fixed my scriptcs install so it is now using 0.14.1 and as a result I get 2 failures when running `build accept` and 5 when running them through NCrunch for that commit. Very strange! I guess one thing to do is make sure you actually have 0.14.1 used when you run scriptcs as there was a change in how it was installed a few months back. It used to be installed to the user folder for _only one use

[2015-04-25 05:27] aarondandy commented on #198
A second run of `build accept` passed all 288 tests. I think they need some love!

[2015-04-25 16:17] eatdrinksleepcode commented on #198
Deleting all "bin" directories and the "artifacts" directory did not help. Nor does #199.

(1) does not seem to be a problem any more (not sure what happened, will investigate this further), but I am still stuck at (2) (unless I change the FileName from "scriptcs" to "scriptcs.bat"). Are you building on Windows 8? Or are there any other differences from my setup above that could be causing differe

[2015-04-25 16:42] adamralph commented on #198
@eatdrinksleepcode I guess it's scriptcs.bat for you because you installed scriptcs via svm?

Even so, things should work in the general case. I'll take a look at @aarondandy's PR.

It's highly possible that something was broken here by scriptcs 0.14, which contained breaking changes.

[2015-04-25 16:46] aarondandy commented on #198
`bin` was changed to `scriptcs_bin` causing it to only copy the bau.dll and bau.exec.dll files once, ignoring changes to them. The PR fixes that for sure. I am not using svm and may keep it that way so I can be a test case for chocolatey. The only differences with my setup are that I use `cinst` and Windows 8.1 .

[2015-04-25 17:43] #198 closed, assigned to nobody

[2015-04-25 17:46] adamralph commented on #198
@eatdrinksleepcode this should all be fixed now.

As long as you have scriptcs 0.14.1 installed either via svm or chocolatey, the acceptance tests should now work for you. I'm not really sure where you got scriptcs.bat from. Are you perhaps using a very old version of chocolatey?

[2015-04-25 17:46] adamralph commented on #198
BTW - feel free to re-open this issue if you are still having problems.

[2015-04-25 17:56] eatdrinksleepcode commented on #198
I have scriptcs installed via Chocolatey. My Chocolatey version is probably pretty old, I will try a newer version later today.

[2015-04-25 19:16] #48 closed, assigned to nobody

[2015-04-25 20:13] eatdrinksleepcode commented on #198
It was the old version of Chocolatey. Updated and then re-installed scriptcs and the acceptance tests now all pass (although at one point I got a Watson error saying Bau.Test.Acceptance.CreateFile stopped working; but that didn't seem to cause a test failure).

[2015-04-27 20:53] eatdrinksleepcode opened #202 "Unify Windows and Mono builds for Bau"
Bau currently uses two different build files for .NET versus Mono. It would be good to unify them such that both environments have access to the full range of build tasks (e.g. "accept").

Since Bau is dogfooding itself, this issue will likely spill over into the more general question of how Bau supports building in Mono environments. However, for tracking purposes, this issue is specifically abou

[2015-04-28 06:12] adamralph commented on #202
Agreed. There are two reasons a separate file exists:
1. Differences in language support in scriptcs, between the Roslyn engine and Mono engine
2. Lack of a x-plat build task (i.e. MSBuild and XBuild)

Point 1) has been alleviated somewhat in later versions of scriptcs so perhaps things can already be more closely aligned in that respect.

Point 2) requires an extension to Bau.MSBuild, which I thi

[2015-05-02 13:39] adamralph commented on #193
Maybe IDE's should be using these http://vorillaz.github.io/devicons/#/dafont

[2015-05-02 13:40] adamralph commented on #193
Regarding Bau having it's own logo, it's just as deserving as grunt or gulp. They are just node modules and Bau is just a scriptcs script pack.

[2015-05-18 18:08] eatdrinksleepcode commented on #202
That brings up an interesting question (which may evolve into its own issue): how should indvidual tasks handle cross-platform execution? There are two obvious answers:

1) Change the runtime used. This is what the Xunit task currently does: when running on Mono, it invokes the Xunit executable using Mono.

2) Change the tool that is executed. This is what you are suggesting for the MSBuild task:

[2015-05-22 05:23] eatdrinksleepcode opened #204 "Run Xunit in-process"
Currently the Xunit task Xunit as an external process. This has a number of downsides:

1) The task must detect what runtime to use in order to launch the process. Both the detection and the specification of the runtime are prone to error.
2) The task is vulnerable to changes in the command line syntax (#195).
3) There is extra overhead in launching and waiting for the external process.

An altern

[2015-05-22 05:56] adamralph commented on #204
Hi @eatdrinksleepcode, thanks for raising this, it's an interesting proposal. In response to your points:
1. I'm not sure this is so prone to error. AFAIK the only detection that needs to happen is 'mono or not mono'. There are plenty of precedents which work reliably using this method -https://github.com/scriptcs/scriptcs/blob/dev/test/ScriptCs.Tests.Acceptance/Support/ScriptCsExe.cs#L12
2. This

[2015-05-31 20:04] eatdrinksleepcode commented on #204
1. The only detection that needs to be done _right now_ is 'mono or not mono'. However, soon (technically now) we will also have DNX to deal with. Moreover, even when you detect that a particular runtime is in use, you cannot guarantee that it is the same version of that runtime that will be used by executing the default launcher for that runtime on the command line. I may have multiple versions o

[2015-06-03 19:19] adamralph commented on #204
@eatdrinksleepcode you make some interesting points. I must admit the world of DNX etc. is still somewhat mysterious to me. One thing to bear in mind is that if you run in-process, you are tied to whatever runtime scriptcs, and therefore Bau, is executing under. I think if you launch a separate process there may be more scope for choosing which runtime under which to execute your tests. The genera

[2015-06-06 01:53] eatdrinksleepcode commented on #204
DNX is still pretty mysterious to me too :) That being said, I am pretty excited about the potential, and I would really like to see Bau support it.

Where applicable, I have always run my build with the same runtime that I use to compile/test/run my app. I don't see much advantage to doing otherwise, and it makes things so much simpler than having to manage multiple runtimes. I can't say there wo

[2015-06-06 09:22] adamralph commented on #204
- Agreed, I would also like to see Bau used in DNX scenarios.
- Runtime-wise, the constraint is scriptcs, since Bau is just a scriptcs Script Pack. If/when scriptcs is able to run under DNX then obviously Bau will too. Some spiking of scriptcs for DNX did occur a while back, but that is a thread which needs to be picked up again.
- Looking forward to seeing what you come up with! Happy to help out

[2015-06-07 10:32] #202 closed, assigned to nobody

[2015-06-21 17:28] eatdrinksleepcode opened #209 "Test output directory"
f9e39b4 changed all of the test tasks in the build to output their results to "artifacts/tests". However, less than a month later, e48aaee added dogfooding of the XUnit plugin to the build, but in doing so reverted all of the test tasks to output to their own bin directory. However, the "artifacts/tests" directory is still created during the build. We should either fix the tests to output to "arti

[2015-06-21 17:35] eatdrinksleepcode opened #210 "Reduce log level acceptance test permutations"
Currently the acceptance tests take 42 seconds to run on my laptop. More than a third of that time (16.5s) is taken up in the "LogLevels.SpecifyingLogLevel" test, which tests 17 different combinations of arguments, including casing differences and error cases. I think that many of these permutations could be tested at a lower level (component or unit tests), so that the number of permutations that

[2015-06-22 16:17] eatdrinksleepcode opened #212 "Pass argument to build script"
We already have an issue for passing arguments to individual tasks (#58). However, it would also be useful to be able to pass arguments to the build script itself. For example, in Bau's current build script, the "Release" configuration is hard-coded in several places. It would be nice to be able to specify this from the command line.

This would be equivalent to -P (project properties) in Gradle.

[2015-06-22 17:28] aarondandy commented on #212
I also would love a way to handle this. Currently my workaround is to have a task like "set-release" while I default to Debug where the set-release changes a global variable for the configuration. Then I just define a "publish" task that runs "set-release" then "default".

[2015-06-22 18:14] eatdrinksleepcode commented on #212
So I can think of three questions to answer: 1) how should such arguments be set on the command line, 2) how should they be accessed in the script, and 3) what terminology do we use?
1. Gradle uses "-Pconfiguration=Release" (where P stands for property), which is a derivation of the Java standard "-Dconfiguration=Release" for system properties (which is what Maven uses). Rake doesn't use a switch;

[2015-06-22 18:42] eatdrinksleepcode opened #213 "Repository organization"
The XUnit task is currently in the main repository, while the MSBuild task is in its own repository. I like the idea of keeping MSBuild in its own repository, since this encourages thinking of Bau as a task runner on top of which a build system can be constructed. However, if that is the goal, it feels odd that XUnit is in the main repo (all the more so since it is unlikely that many people will u

[2015-06-22 19:36] eatdrinksleepcode opened #214 "[Radical] Allow for scripting languages other than ScriptCS"
ScriptCS is a great way for developers who primarily use C# to easily create a minimal build script using a familiar syntax. And Bau has done a great job with the fluent interface of keeping the highly imperative nature of C# from having a negative impact on the DSL.

That being said, when coming from dynamic scripting languages such as Groovy (for Gradle) or Ruby (for Rake) or JavaScript (for Gru

[2015-06-24 02:43] eatdrinksleepcode commented on #187
Is the problem easily reproducible, such that a fix could be tested? I tried commenting out that line and deleting the artifacts directory, but I was not able to reproduce the problem. I imagine it only happens on machines with slower file systems.

I am curious because I have seen a couple of places that suggest that calling DirectoryInfo.Refresh acts like a synchronous wait until the directory i

[2015-06-24 07:01] adamralph commented on #209
Well spotted. The reversion actually happened a later commit - https://github.com/bau-build/bau/commit/780bb643bd8ec16aab1daa7cc3f1add31084ef3f

What do you think? Trash the directory or redirect the tests? Simplest is to trash the directory.

[2015-06-24 07:07] adamralph commented on #210
Totally agree. In fact, I think the acceptance tests should generally drop down a level lower to testing the API. This in fact ties in with #214. If we extract the scriptcs specific stuff into a separate assembly then the acceptance tests for that assembly can execute scriptcs, but will be much smaller in scope, and the acceptance tests for Bau itself will all be at the API level and will execute

[2015-06-24 07:10] adamralph commented on #210
Marking as on-hold since I think we need to think about #214 first, or at least the refactoring it suggests and the test re-org that may come out of that, in which case this will just be a subset and we can close as a dup.

[2015-06-24 20:26] aarondandy commented on #187
I had tried to reproduce this issue myself recently and actually could not. I am 99% positive I have seen behavior where after deleting a directory it was not fully done being deleted when it returned control to me, but that was a long time ago and may no longer be a problem. I think on Linux stuff may also be more problematic as the delete may not actually happen until the files in the folder are

[2015-06-24 20:28] aarondandy commented on #212
I am working in Visual Studio Online now and with their new secured variable setup I will need to pass some things as parameters. If we can come up with an implementable design I may be able to put time into this as I need it.

[2015-06-24 21:27] eatdrinksleepcode opened #215 "Subprojects / Multi-project builds"
One of the things that Gradle and Maven both do well that few others do is multi-project builds. Tasks like "compile", "test", and "pack" are defined per project rather than once at the root (although you can define them once in a way that applies to all subprojects). In large solutions, the ability to run tasks for particular projects rather than the entire solution is critical to efficient devel

[2015-06-24 21:34] eatdrinksleepcode commented on #212
To summarize my rambling soliloquy above, my proposal is:
1. Command line:

   `scriptcs bau.csx -- build -Pconfiguration=Release`
2. Script file:

   `msb.Properties = new { Configuration = bau.GetProperty("configuration", "Release") };`

   (note the default value of "Release" in the GetProperty call).

[2015-06-24 21:36] eatdrinksleepcode commented on #210
Agreed

[2015-06-24 21:46] eatdrinksleepcode commented on #209
I'm on the fence. All of the build systems that I have used default to putting build artifacts in a project-specific directory. However, CoreFX overrides this and puts all artifacts in a common directory at the root. I can some advantage to that; project-specific output directories are often at the bottom of a deep directory hierarchy, and it would be simpler to access the artifacts if they were a

[2015-06-25 00:16] aarondandy commented on #212
Personal taste I guess but `-Pthingy=stuff` is not so easy on the eyes. What about `-parameters "Thing1=one;Thing2=two things"` or `-p Thing1=one -p "Thing2=two things"` . I suppose the first way of doing it gets weird if there are any `;` characters in a value. Just thinking out loud really...

[2015-06-25 03:19] eatdrinksleepcode commented on #212
I would be ok with `-p Thing1=one -p "Thing2=two things"`. Strikes a good balance between readability and parsability I think.

[2015-06-25 04:30] eatdrinksleepcode commented on #214
If we think factoring Bau in this way makes sense, I can start working on it. Since it is a fairly invasive breaking change to core types, the sooner we do it, the less painful it will be.

I envision the current Bau project being split into two projects: Bau.Core and Bau.ScriptCS. Even if we end up publishing the latter under the package name Bau (to make it easy to identify as the primary entry

[2015-06-25 22:36] aarondandy commented on #212
Next question to sort out:
A) `scriptcs bau.csx -- -p key=value build`

or

B) `scriptcs bau.csx -- build -p key=value`

Either way I think this will require a large change to how arguments are parsed in Bau.

[2015-06-25 22:46] aarondandy commented on #212
Any work done on this issue will likely clash with changes in PR #203 as it also made changes to argument parsing code.

[2015-06-26 07:00] adamralph commented on #213
Agreed. IIRC it was my intention to move it out but never got round to it.

[2015-06-26 07:20] adamralph commented on #214
This is an interesting one.

I did think about splitting the scriptcs parts of Bau into a tiny assembly of their own a while back since the main body of Bau really has nothing to do with it. I think the reason I didn't was because I didn't really see a need and also because of the awkwardness of naming, i.e. the top level package should then really be Bau.ScriptCs, taking a dep on Bau, but I think

[2015-06-26 07:26] adamralph commented on #209
I don't mind either way. If you fancy picking this up then just go with whatever your mood suggests. If I were to pick it up that's what I'd do :wink:.

[2015-06-26 15:44] adamralph commented on #212
FYI #203 is close to being merged

[2015-06-26 22:07] eatdrinksleepcode commented on #214
Yeah this is the first thing I noticed when I started playing around with decoupling them. It is unfortunate that scriptcs relies on inheritance in order to achieve automatic namespace imports; if it were based on a simple attribute we would get a lot more flexibility.

What is the advantage of this approach? I can see being able to create plugins as simple scripts is advantageous for the end user

[2015-06-27 04:05] eatdrinksleepcode commented on #212
@aarondandy I would think we could allow for either order without a significant change to argument parsing. It already does look-ahead, doesn't it?

[2015-06-28 11:23] adamralph commented on #187
IIRC it was one of the CI builds where this problem manifested, probably Travis.

Easily reproducible? Probably not :wink:

[2015-06-28 11:25] adamralph commented on #187
For reference, this has been implemented for the acceptance testing so one option is to just lift this code out into Bau itself https://github.com/bau-build/bau/blob/13e19b27647881e931dd76884a9500baa7b0d6ed/src/test/Bau.Test.Acceptance/Support/FileSystem.cs

[2015-06-28 11:29] adamralph commented on #215
Interesting.

A naive question: if I have A.csproj which declares B.csproj as a dependency, does MSBuild not know to build B.csproj if I tell it to build A.csproj?

[2015-06-28 11:34] adamralph commented on #212
I like the `-p Thing1=one -p "Thing2=two things"` proposition and yes, this should just fit in to the current arg parsing logic without too much change required.

[2015-06-30 21:00] adamralph commented on #166
This has gone out in https://www.nuget.org/packages/Bau/0.1.0-beta09

[2015-06-30 21:00] adamralph commented on #65
This has gone out in https://www.nuget.org/packages/Bau/0.1.0-beta09

[2015-07-01 01:13] eatdrinksleepcode commented on #215
It certainly does. However, when MSBuild builds B.csproj, Bau doesn't _know_ that it's doing that. So we can't build any kind of workflow that involves building B in Bau (such as generating files before the build).

The trick of course is that even if we _do_ build such a workflow, neither Visual Studio nor any other .NET IDE will be aware of it.

I am working on building a basic plugin on top of

[2015-07-01 04:57] aarondandy commented on #215
So if I understand you correctly, you want to explore an integration between msbuild targets and bau tasks, like interweaving them? I know a few people to ask, I'll see if they have any thoughts on that. Also another thing to consider is that msbuild may end up as a legacy tool in a few years so there may be some real benefit to this kind of thinking.

[2015-07-01 16:44] eatdrinksleepcode commented on #215
Not exactly. Let me try to illustrate with an example. Imagine the Bau build file looked, in part, something like this:

[code]

I could then run `build core:pack`, and it would run build and pack for just the core project. Now I add a similar definition for Bau.Exec:

[code]

Now I can run `build exec:pack`, and it will build and pack the exec project. This level of granularity doesn't matter muc

[2015-07-03 19:21] aarondandy commented on #215
To reduce redundancy I wonder if a simpler approach would be to integrate Bau into each msbuild project using a tool. Something as simple as `bau.Task("core.csproj:before")` and `bau install core.csproj` may take us pretty far and allow for integration with tools that revolve around MSBuild, like visual studio and well... MSBuild itself.

[2015-07-08 02:31] eatdrinksleepcode commented on #215
@aarondandy While that might make it easier to define "before" steps in MSBuild, I worry that the integration would be unintuitive when invoked from Bau. Using our previous example, if I invoke exec:build, and it invokes MSBuild to build the exec project, which builds the core project, which invokes the "before" task in Bau, will this second instance of Bau have any of the context of the original

[2015-07-08 02:36] eatdrinksleepcode commented on #215
As I have thought more about this and done some spiking using Bau's build, subprojects don't necessarily have a lot of value on their own. After all, granular tasks such as in my example above can be done using the current API and a naming convention; you don't need subprojects for that. Subprojects don't really start to show their value until you start adding in other features that make creating

[2015-07-08 02:50] eatdrinksleepcode opened #219 "Read task dependencies from csproj file"
As discussed in #215, creating granular per-project build tasks can result in a more efficient developer experience than solution-level tasks, particularly for large solutions. However, relying on MSBuild to build referenced projects results in an incongruity, where although a referenced project has a build task defined in Bau, that task is not actually executed. This can be unintuitive and make i

[2015-07-08 03:39] eatdrinksleepcode opened #220 "CSharp plugin"
So far Bau's plugin system has been used as a fluent api for adding tasks of a particular type. However, it could also be used to create multiple related tasks. I think it would be useful to have a CSharp plugin that created standard tasks related to building a C# project. Examples of such standard tasks might be "clean", "compile", "build", "rebuild", and "pack". An example of a task that is not

[2015-07-19 20:43] eatdrinksleepcode opened #222 "ForAll: configure all tasks of particular type"
It would be useful to have a method ("ForAll" is the proposed name, but there are a number of other possibilities) that can be used to configure all tasks of a particular type. For example, in the current baufile.csx, there are two instances of the MSBuild task that have a lot of duplicate configuration. Some of that duplication could be reduced by having some reasonable defaults on the MSBuild ta

[2015-07-19 23:01] eatdrinksleepcode commented on #215
Still thinking about this...one of the big benefits of subprojects is that they create a convenient scope for applying plugins, such as #220. The plugin can use the configuration of the project (most importantly its location) to configure itself automatically.

It might help if I make the discussion a little less abstract. If we combine this issue with #219, #220, #222, and a few other things, I c

[2015-08-01 12:13] adamralph opened #223 "Dogfood bau-nuget"

[2015-08-01 12:18] adamralph commented on #62
https://github.com/scriptcs/scriptcs/issues/643 was released in scriptcs 0.10

[2015-10-17 17:17] #52 closed, assigned to nobody

[2015-10-17 17:17] #27 closed, assigned to nobody

[2015-10-17 17:17] #31 closed, assigned to nobody

[2015-10-17 17:17] #104 closed, assigned to nobody

[2015-10-17 17:17] #65 closed, assigned to nobody

[2015-10-17 17:17] #180 closed, assigned to nobody

[2015-10-17 17:17] #158 closed, assigned to nobody

[2015-10-17 17:17] #142 closed, assigned to nobody

[2015-10-17 17:17] #118 closed, assigned to nobody

[2015-10-17 17:17] #57 closed, assigned to nobody

[2015-10-17 17:17] #55 closed, assigned to nobody

[2015-10-17 17:18] #54 closed, assigned to nobody

[2015-10-17 17:18] #23 closed, assigned to nobody

[2015-10-17 17:18] #36 closed, assigned to nobody

[2015-10-17 17:18] #11 closed, assigned to nobody

[2015-10-21 06:00] adamralph opened #224 "move chat to Gitter"
- [ ] change readme.md
- [ ] change JabbR topic

[2016-02-28 14:39] adamralph opened #229 "Task aliases"

[2016-02-28 14:58] #224 closed, assigned to nobody

[2016-02-28 17:08] adamralph commented on #166
This should be changed to use standard colours, i.e. dark cyan for tasks. (Perhaps light cyan for the dependent task in the `-P` output.)

[2016-03-02 23:54] #229 closed, assigned to adamralph

[2016-04-29 20:21] karthik25 commented on #212
I know this is 9 months old, but I am definitely considering taking a shot at this (-p Thing1=one ...)! It would help for what I am trying to achieve w/ bau!!